<h4><strong>End-of-Month Fulfilment Survey</strong><span *ngIf="!monthInfo.completed">&nbsp;<sup>
    <fa-icon
        [icon]="faExclamationCircle"
        class="info-icon red"
        matTooltip="Finish this survey as soon as possible after the month finishes!"
        matTooltipPosition="above"
    ></fa-icon>
</sup></span>
</h4>
<mat-form-field>
    <mat-label>What are your purposes for paid employment?</mat-label>
    <textarea matInput [formControl]="employmentPurposeEntry"></textarea>
</mat-form-field>
<br />
<mat-form-field>
    <mat-label>How are you managing your spending?</mat-label>
    <textarea matInput [formControl]="spendingManagementEntry"></textarea>
</mat-form-field>
<br />
<mat-form-field>
    <mat-label>Are you making a living or a dying?</mat-label>
    <textarea matInput [formControl]="livingDyingEntry"></textarea>
</mat-form-field>
<br />
<button
    [disabled]="disableSaveButton"
    [matTooltip]="disableSaveButton ? disableSaveMessage : ''"
    matTooltipPosition="above"
    mat-button class="add"
    (click)="saveReflection()"
>Save Responses</button>
