<h1>{{title}}</h1>

<nav>
    |
    <a routerLink="/prior-inventory" routerLinkActive='active'>Day 1</a> |
    <a routerLink="/current-job" routerLinkActive='active'>Current Job</a> |
    <a routerLink="/daily-transactions" routerLinkActive='active'>Daily Transactions</a> |
    <a routerLink="/monthly-review" routerLinkActive='active'>Monthly Review</a> |
    <a routerLink="/fi-projection" routerLinkActive='active'>FI Projection</a> |
    <a routerLink="/net-worth" routerLinkActive='active'>Net Worth</a> |
</nav>
<br />

<router-outlet></router-outlet>