h1 {
  color: #3a5c0a;
  font-family: "TW Cen MT", "Tahoma", sans-serif;
  font-size: 250%;
  text-align: center;
  margin-top: 10px;
}
h2, h3 {
  color: #444;
  font-family: "TW Cen MT", "Tahoma", sans-serif;
  font-weight: lighter;
}
body, input[type="text"], button {
  color: #333;
  font-family: "TW Cen MT", "Tahoma", sans-serif;
}
footer {
  text-align: center;
}

/* other stuff */

nav {
  text-align: center;
  background-color: #daf5b3;
  font-size: 110%;
}

nav a.active {
  background-color: #62a048;
}

nav div.right-nav {
  float: right;
}

nav div.left-nav {
  float: left;
}

div.top-bar {
  overflow: hidden;
  background-color: #ffffff;
  position: sticky;
  top: 0;
  width: 100%;
}

div.content {
  padding: 1em;
}