<div class="page-container">
    <div class="content-wrap">
        <div class="top-bar">
            <h1><img class="logo" src="assets/logo.png">{{title}}<img class="logo" src="assets/logo.png"></h1>

            <nav>
                |
                <a (click)="loadPage('prior-inventory')" class="{{ activePage('prior-inventory') }}">
                    Day 1
                </a> |
                <a (click)="loadPage('current-job')" class="{{ activePage('current-job') }}">
                    Current Job
                </a> |
                <a (click)="loadPage('daily-transactions')" class="{{ activePage('daily-transactions') }}">
                    Daily Transactions
                </a> |
                <a (click)="loadPage('monthly-review')" class="{{ activePage('monthly-review') }}">
                    Monthly Review
                </a> |
                <a (click)="loadPage('fi-projection')" class="{{ activePage('fi-projection') }}">
                    FI Projection
                </a> |
                <a (click)="loadPage('net-worth')" class="{{ activePage('net-worth') }}">
                    Net Worth
                </a> |
            </nav>
            <br />
        </div>

        <div class="content">
            <ng-template pageHost></ng-template>
        </div>
    </div>

    <footer>Copyright © 2021 Suriya Kandaswamy</footer>
</div>