<h3 class="current-net-worth-header" *ngIf="lastCompletedMonthInfo">Your Current Net Worth (as of {{ getVerboseLatestCompletedMonth() }}): <span>${{ currentNetWorth | number: '1.2-2' }}</span></h3>

<app-net-worth-chart
    [svgID]="'net-worth-chart'"
    [placeholderText]="'You\'ll see your net worth value and chart here once you\'ve completed a month!'"
></app-net-worth-chart>

<button mat-raised-button (click)="openAddAssetAccountDialog()" class="icon-button add">
    Add New Asset Account <fa-icon [icon]="faPlusSquare"></fa-icon>
</button>
<app-asset-account-table
    [assetAccounts]="assetAccounts"
    [latestAssetAccountEntries]="latestAssetAccountEntries"
    (toggleAccountActivationEvent)="toggleAccountActivation($event)"
></app-asset-account-table>
