<app-monthly-flow-chart
    [averageMonthlyExpense]="monthlyExpenseFormControl.value"
    [longTermInterestRate]="longTermInterestRateFormControl.value"
></app-monthly-flow-chart>

<mat-form-field>
    <mat-label>Estimated Monthly Expense</mat-label>
    <span matPrefix>$</span>
    <input matInput [formControl]="monthlyExpenseFormControl">
</mat-form-field>
<br />
<mat-form-field>
    <mat-label>Current Long-Term Interest Rate</mat-label>
    <input matInput [formControl]="longTermInterestRateFormControl">
    <span matSuffix>%</span>
</mat-form-field>
<br />
<button (click)="updateProjectionValues()">Update</button>
