<h2>Step Three/Four/Six</h2>

<button mat-button *ngIf="showCompleteButton(); else showComplete" (click)="markCurrentMonthComplete()">Complete</button>
<ng-template #showComplete>
    <span>MONTH COMPLETE</span>
</ng-template>

<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
        <mat-nav-list>
            <mat-list-item
                *ngFor="let year of getYears()"
                (click)="selectYear(year)"
                [class.selected]="year === selectedYear"
            >
                {{ year }}
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-sidenav-container>
            <mat-sidenav mode="side" opened>
                <mat-nav-list>
                    <mat-list-item
                        *ngFor="let month of getMonthsFromYear(selectedYear)"
                        (click)="selectMonth(month)"
                        [class.selected]="month === selectedMonth"
                    >
                        {{ months[month] }}
                    </mat-list-item>
                </mat-nav-list>
            </mat-sidenav>

            <mat-sidenav-content>
                <app-category-totals
                    [transactions]="getTransactionsByMonth(selectedYear, selectedMonth)"
                    [categories]="transactionCategories"
                    [monthCategories]="monthCategories"
                    [selectedMonthInfo]="selectedMonthInfo"
                    (updateCategories)="setTransactionCategories($event)"
                ></app-category-totals>

                <app-monthly-tabulation
                    [transactions]="getTransactionsByMonth(selectedYear, selectedMonth)"
                    [categories]="transactionCategories">
                </app-monthly-tabulation>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </mat-sidenav-content>

</mat-sidenav-container>
