<h2>Step Three/Four/Six</h2>

<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
        <mat-nav-list>
            <mat-list-item
                *ngFor="let year of getYears()"
                (click)="selectYear(year)"
                [class.selected]="year === selectedYear"
            >
                {{ year }}
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-sidenav-container>
            <mat-sidenav mode="side" opened>
                <mat-nav-list>
                    <mat-list-item
                        *ngFor="let month of getMonthsFromYear(selectedYear)"
                        (click)="selectMonth(month)"
                        [class.selected]="month === selectedMonth"
                    >
                        {{ months[month] }}
                    </mat-list-item>
                </mat-nav-list>
            </mat-sidenav>

            <mat-sidenav-content>
                <button mat-button *ngIf="showCompleteButton(); else showFulfilmentSurvey" (click)="markCurrentMonthComplete()">Complete</button>
                <ng-template #showFulfilmentSurvey>
                    <app-monthly-reflection *ngIf="!monthInProgress()" [monthInfo]="selectedMonthInfo"></app-monthly-reflection>
                </ng-template>
                <app-category-totals
                    [transactions]="selectedTransactions"
                    [categories]="transactionCategories"
                    [monthCategories]="monthCategories"
                    [selectedMonthInfo]="selectedMonthInfo"
                    (updateCategories)="setTransactionCategories($event)"
                ></app-category-totals>

                <mat-tab-group>
                    <mat-tab label="expenditures">
                        <app-monthly-tabulation
                            [transactions]="selectedTransactions"
                            [categories]="transactionCategories">
                        </app-monthly-tabulation>
                    </mat-tab>
                    <mat-tab label="investment_incomes">
                        <app-investment-income-table
                            *ngIf="selectedMonthInfo != undefined"
                            [investmentIncomes]="selectedInvestmentIncomes"
                            [monthInfoId]="selectedMonthInfo.id"
                        ></app-investment-income-table>
                    </mat-tab>
                    <mat-tab label="month_asset_account_entries">
                        <app-asset-account-table
                            *ngIf="selectedMonthInfo != undefined"
                            [monthAssetAccountEntries]="selectedMonthAssetAccountEntries"
                            [monthInfoId]="selectedMonthInfo.id"
                        ></app-asset-account-table>
                    </mat-tab>
                </mat-tab-group>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </mat-sidenav-content>

</mat-sidenav-container>
