<div class="page-header"><h2>Daily Transactions</h2></div>
<p>While it might seem easy to just automatically load the transactions from your accounts into a single accounting software, logging your income and expenses at the end of each day will make you more keenly aware of where your hard-earned money is going and ultimately make you a smarter spender. And all it takes is a few minutes at the end of each day! Just add each of your transactions in the table below.</p>

<app-daily-transactions [startDate]="startDate"></app-daily-transactions>