<h1 mat-dialog-title>Add New Balance Sheet Entry</h1>
<div mat-dialog-content>
    <div>
        <mat-form-field>
            <mat-label>Entry Type</mat-label>
            <mat-select [(ngModel)]="data.entry_type">
                <mat-option *ngFor="let entryType of entryTypes" [value]="entryType.key">
                    {{ entryType.label }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput [(ngModel)]="data.description"></textarea>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <mat-label>Value</mat-label>
            <span matPrefix>$&nbsp;</span>
            <input matInput type="number" min="0" step="0.01" [(ngModel)]="data.value">
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" class="button-red">Cancel</button>
  <span class="spacer"></span>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial class="button-green">Ok</button>
</div>
