.total-balance-header {
    text-align: center;
}

.total-balance-header span {
    font-weight: bold;
}

.sheet-column-header {
    text-align: center;
}

.sheet-column-header span {
    font-weight: bold;
}

div.assets .sheet-column-header {
    color: #80b569;
}

div.liabilities .sheet-column-header {
    color: #e06868;
}