<h3>Balance Sheet: ${{ getAssetTotal() - getLiabilityTotal() | number: '1.2-2' }}</h3>

<button mat-raised-button (click)="openAddEntryDialog()">Add Entry</button>

<div *ngIf="balanceSheetEntries" class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>
    <div fxFlex="" class="assets">
        <h4>Assets: ${{ getAssetTotal() | number: '1.2-2' }}</h4>
        <app-balance-sheet-entry-table [entries]="getAssets()"></app-balance-sheet-entry-table>
    </div>

    <mat-divider [vertical]="true"></mat-divider>

    <div fxFlex="" class="liabilities">
        <h4>Liabilities: -${{ getLiabilityTotal() | number: '1.2-2' }}</h4>
        <app-balance-sheet-entry-table [entries]="getLiabilities()"></app-balance-sheet-entry-table>
    </div>
</div>
