<ul>
    <li *ngFor="let category of displayCategories">
        {{ category.name }} : ${{ categoryTotal(category) | number: '1.2-2' }} > {{ calculateLifeEnergyHours(category) | number: '1.2-2' }} hrs - <fa-icon [icon]=iconLabelFromCategoryId(category.id) (click)=changeCategoryFulfilment(category.id)></fa-icon>
    </li>
    <li>
        <mat-form-field>
            <mat-label>New Category</mat-label>
            <input matInput [formControl]="newCategoryFormControl" type="text"/>
        </mat-form-field>
        <button mat-button (click)="addCategory(newCategoryFormControl.value)">Create</button>
    </li>
</ul>
