<table class="category-table">
    <tr>
        <th>Category</th>
        <th>Money Spent</th>
        <th>Life Energy Equivalent (hrs)&nbsp;<sup>
            <fa-icon
                [icon]="faQuestionCircle"
                class="info-icon"
                matTooltip="Based on your real hourly wage from this month, this column calculates how many hours of work were spent to cover the expenses from this category"
                matTooltipPosition="above"
            ></fa-icon></sup>
        </th>
        <th>Desired Trajectory&nbsp;<sup>
            <fa-icon
                [icon]="faQuestionCircle"
                class="info-icon"
                matTooltip="Click on the icon by each category until you've chosen whether you think you should spend less (down arrow), more (up arrow), or the same (check) next month to increase personal fulfilment - these trajectories can be updated until you fill in the end-of-month survey"
                matTooltipPosition="above"
            ></fa-icon></sup>
        </th>
    </tr>
    <tr *ngFor="let category of displayCategories">
        <td>{{ category.name }}</td>
        <td>${{ categoryTotal(category) | number: '1.2-2' }}</td>
        <td>{{ calculateLifeEnergyHours(category) | number: '1.2-2' }}</td>
        <td><fa-icon [icon]=iconLabelFromCategoryId(category.id) (click)=changeCategoryFulfilment(category.id) class="category-icon {{ iconClassFromCategoryId(category.id) }}"></fa-icon></td>
    </tr>
</table>
<mat-form-field>
    <mat-label>New Category</mat-label>
    <input matInput [formControl]="newCategoryFormControl" type="text"/>
</mat-form-field>
<button mat-button (click)="addCategory(newCategoryFormControl.value)" class="icon-button add-single">
    <fa-icon [icon]="faPlusSquare"></fa-icon>
</button>