<app-net-worth-chart></app-net-worth-chart>

<button mat-raised-button (click)="openAddAssetAccountDialog()">Add New Asset Account</button>
<app-asset-account-table
    [assetAccounts]="assetAccounts"
    [latestAssetAccountEntries]="latestAssetAccountEntries"
    (toggleAccountActivationEvent)="toggleAccountActivation($event)"
></app-asset-account-table>

<!--allow user to add account
maybe allow user to select account opening day?
allow user to close account
list open accounts on top and closed accounts below
allow user to reopen account (this should clear the account close date in the db)
    if reopen, create intermediate month-asset-account-entries with 0 asset/0 liability for each entry
show most recent value when listing in chart (from the previous month or last open month)-->
