<div class="page-header"><h2>Monthly Review</h2></div>
<p>In order to effectively learn about your monetary activity, you need to review your expenses, passive income, and assets at the end of each month. This will help you to build a picture of where your non-job income is coming from and how you're spending your money while also allowing you to be aware of the growth of your net worth over time.</p>

<div class="month-year-picker-form-field-parent">
    <button mat-button *ngIf="selectedYear != startDate.getFullYear() || selectedMonth != startDate.getMonth()" (click)="incrementSelectedMonth(-1)" class="icon-button">
        <fa-icon [icon]="faChevronCircleLeft"></fa-icon>
    </button>
    <mat-form-field appearance="fill">
        <mat-label>Month and Year</mat-label>
        <input matInput [min]="startDate" [max]="todayDate" [matDatepicker]="selectedMonthYearDatepicker" [formControl]="normalizedSelectedDate">
        <mat-datepicker-toggle matSuffix [for]="selectedMonthYearDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #selectedMonthYearDatepicker
                      startView="year"
                      (yearSelected)="selectYearHandler($event)"
                      (monthSelected)="selectMonthHandler($event, selectedMonthYearDatepicker)">
        </mat-datepicker>
    </mat-form-field>
    <button mat-button *ngIf="selectedYear != todayDate.getFullYear() || selectedMonth != todayDate.getMonth()" (click)="incrementSelectedMonth(1)" class="icon-button">
        <fa-icon [icon]="faChevronCircleRight"></fa-icon>
    </button>
</div>

<div class="month-evaluation-content">
    <div *ngIf="selectedMonthInfoHasPassed()">
        <app-monthly-reflection
            [monthInfo]="selectedMonthInfo"
            (updateMonthInfo)="updateMonthInfoAndCategories()"
        ></app-monthly-reflection>
        <br />
        <hr />
    </div>

    <app-category-totals
        [transactions]="selectedTransactions"
        [categories]="transactionCategories"
        [monthCategories]="monthCategories"
        [selectedMonthInfo]="selectedMonthInfo"
        (updateCategories)="setTransactionCategories($event)"
    ></app-category-totals>
    <hr />
</div>

<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            Expenditures&nbsp;<sup>
                <fa-icon
                    [icon]="faQuestionCircle"
                    class="info-icon"
                    matTooltip="Categorize all of your recorded expenses from this month into the self-defined categories above"
                    matTooltipPosition="above"
                ></fa-icon>
            </sup>
        </ng-template>

        <app-monthly-tabulation
            [transactions]="selectedTransactions"
            [categories]="transactionCategories">
        </app-monthly-tabulation>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            Investment Income&nbsp;<sup>
                <fa-icon
                    [icon]="faQuestionCircle"
                    class="info-icon"
                    matTooltip="Record all investment (passive) income that you received this month: interest, dividends, capital gains, rent, and royalties"
                    matTooltipPosition="above"
                ></fa-icon>
            </sup>
        </ng-template>

        <app-investment-income-table
            *ngIf="selectedMonthInfo != undefined"
            [investmentIncomes]="selectedInvestmentIncomes"
            [monthInfo]="selectedMonthInfo"
        ></app-investment-income-table>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            Assets and Liabilities&nbsp;<sup>
                <fa-icon
                    [icon]="faQuestionCircle"
                    class="info-icon"
                    matTooltip="Record the asset and liability values of all of your asset vehicles at the end of the month"
                    matTooltipPosition="above"
                ></fa-icon>
            </sup>
        </ng-template>

        <app-monthly-asset-account-table
            *ngIf="selectedMonthInfo != undefined"
            [monthAssetAccountEntries]="selectedMonthAssetAccountEntries"
            [monthInfoId]="selectedMonthInfo.id"
        ></app-monthly-asset-account-table>
    </mat-tab>
</mat-tab-group>
