<div>

    <h2>Wage Calculator</h2>
    <div>
        <label>
            Yearly income: <input [formControl]="annualIncome" type="number"/>
        </label>
        <label>
            Works hours per day: <input [formControl]="dailyWorkHours" type="number"/>
        </label>
        <label>
            Commute hours per day: <input [formControl]="dailyCommuteHours" type="number"/>
        </label>
        <label>
            Days worked per week: <input [formControl]="weeklyWorkDays" type="number"/>
        </label>
    </div>

    <p>
        Real hourly wage: ${{ calculateRealHourlyWage() | number: '1.2-2' }}
    </p>

</div>