/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    font-family: "TW Cen MT", "Tahoma", sans-serif;
}
body {
  margin: 0;
}
table { width: 100%; }

table {
  width: 100%;
}

a {
  text-decoration: underline;
  color: #001fff;
}

a:hover {
  cursor: pointer;
}

hr {
  border: 1px dashed #b6d6a8;
}

/* everywhere else */
* {
  font-family: "TW Cen MT", "Tahoma", sans-serif;
}

.page-header {
    background-color: #b5d4a7;
}

input[type="text"], button {
  color: #333;
  font-family: "TW Cen MT", "Tahoma", sans-serif;
}

button {
    cursor: pointer;
    border: none;
    font-size: 110%;
    border-radius: 5px;
}

button.icon-button {
  background-color: rgba(255, 255, 255, 0);
  color: #000000;
}

button.icon-button:hover {
    color: #aaaaaa;
}

button.edit:hover {
    color: #0f0;
}

button.submit:hover {
    color: #0f0;
}

button.delete:hover {
    color: #f00;
}

button.cancel:hover {
    color: #f00;
}

button.add {
    float: right;
    background-color: #3c7d26;
    color: #ffffff;
}

button.add-single {
    font-size: 110%;
    color: #3c7d26;
    border-radius: 5px;
}

button.add:hover {
    background-color: #6aa84f;
    color: #ffffff;
}

button.add-single:hover {
    color: #6aa84f;
}

.button-red {
    background-color: #e06868;
}

.button-red:hover {
    background-color: #ee9696;
}

.button-green {
    background-color: #80b569;
}

.button-green:hover {
    background-color: #b6d6a8;
}

.red {
  color: #e06868;
}

/* dialog area */
.mat-dialog-content {
    text-align: center;
}

.mat-dialog-content mat-form-field {
    width: 100%;
}

.mat-dialog-actions .spacer {
    flex: 1 1 auto;
}

/* tooltips */
.mat-tooltip {
    font-size: 120% !important;
}

.unfinished-month {
    background-color: #e06868;
}

/* touched form control */
/* Border Color */
.ng-invalid {
    border-color: red;
}
.ng-invalid button {
  color: red;
}

.asterisk-notice {
  color: red;
}
