/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    font-family: "TW Cen MT", "Tahoma", sans-serif;
}
body { margin: 1em; }
table { width: 100%; }

table {
  width: 100%;
}

/* everywhere else */
* {
  font-family: "TW Cen MT", "Tahoma", sans-serif;
}

.page-header {
    background-color: #b5d4a7;
}

input[type="text"], button {
  color: #333;
  font-family: "TW Cen MT", "Tahoma", sans-serif;
}

button {
    cursor: pointer;
    border: none;
    font-size: 110%;
    border-radius: 5px;
}

button.icon-button {
  background-color: rgba(255, 255, 255, 0);
}

button.edit:hover {
    color: #0f0;
}

button.submit:hover {
    color: #0f0;
}

button.delete:hover {
    color: #f00;
}

button.cancel:hover {
    color: #f00;
}

button.add {
    float: right;
    background-color: #3c7d26;
    color: #ffffff;
}

button.add-single {
    font-size: 110%;
    background-color: #3c7d26;
    color: #ffffff;
    border-radius: 5px;
}

button.add:hover, button.add-single:hover {
    background-color: #6aa84f;
}

button.button-red {
    background-color: #e06868;
}

button.button-green {
    background-color: #80b569;
}

/* dialog area */
.mat-dialog-content {
    text-align: center;
}

.mat-dialog-content mat-form-field {
    width: 100%;
}

.mat-dialog-actions .spacer {
    flex: 1 1 auto;
}
