<div class="page-header"><h2>FI Projection</h2></div>
<p>Now that you're tracking all of your income and expenses, you can try to project when you would achieve financial independence. Financial independence is when your investment income each month is enough to offset all of your expected monthly expenses. By using the long-term interest rate and your projected monthly expense level, you can see how much you need in assets in order to retire. The chart below will show you your expenses, active income, passive income, and projected expenses over time. When the investment income line crosses the expenses line, you've officially achieved financial independence.</p>

<app-monthly-flow-chart
    [averageMonthlyExpense]="monthlyExpenseFormControl.value"
    [longTermInterestRate]="longTermInterestRateFormControl.value"
></app-monthly-flow-chart>

<p>Assets required for retirement: <strong>${{ calculateRetirementRequirement() | number: '1.2-2' }}</strong></p>

<mat-form-field>
    <mat-label>Estimated Monthly Expense</mat-label>
    <span matPrefix>$</span>
    <input matInput [formControl]="monthlyExpenseFormControl">
</mat-form-field>
<br />
<mat-form-field>
    <mat-label>Current Long-Term Interest Rate</mat-label>
    <input matInput [formControl]="longTermInterestRateFormControl">
    <span matSuffix>%</span>
</mat-form-field>
<br />
<button (click)="updateProjectionValues()">Update</button>